@model CabBookingSystem.Models.ViewModel1
@{
    ViewData["Title"] = "Confirmed";
}
<style>
    h1{
        font-weight:bold;
        font-size:40px;
        text-align:center;
        color:darkmagenta;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-family:'Times New Roman', Times, serif;
        font-size:25px;
        color:darkmagenta;

    }
     #details{
       font-size:18px;
       font-weight:bold;
   }
</style>

<h1>Confirmed Information</h1><br /><br />
<p>Your booking is confirmed</p>
<table class="table" id="details">
    <tr>
        <td>
            @Html.DisplayNameFor(item=> item.BookingId):
            @Html.DisplayFor(item=>item.BookingId)<br />
            @Html.DisplayNameFor(item=> item.OTP):
            @Html.DisplayFor(item=>item.OTP)<br />
            @Html.DisplayNameFor(item=> item.Drivernumber):
            @Html.DisplayFor(item=>item.Drivernumber)<br />
            @Html.DisplayNameFor(item=> item.DriverName):
            @Html.DisplayFor(item=>item.DriverName)<br />
            @Html.DisplayNameFor(item=> item.CabNo):
            @Html.DisplayFor(item=>item.CabNo)
        </td>
        
    </tr>
   
</table>


